<p style="color: green"><%= notice %></p>

<% flash.each do |type, msg| %>
  <p><%= msg %></p>
<% end %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p><%= link_to "Show this user", user %></p>
    <%= link_to "Follow user", '/follow/'+user.id.to_s %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
