<p class="alert"><%= notice %></p>

<div class="page">
  <%= render @post %>

  <div class="mb-3">
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary btn-sm" %>
    <%= link_to "Back to posts", posts_path, class: "btn btn-secondary btn-sm" %>
  </div>
  <%= button_to "Delete post", @post, class: "btn btn-danger btn-sm", data: { 'turbo-method' => :delete } %>
</div>
